In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/jupyter-user-6/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/jupyter-user-6/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/jupyter-user-6/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/srv/data/shared_documents/Team-9/Student_ADA_Yearly_Zipcode-2.csv', delimiter=';', on_bad_lines = 'warn')

In [4]:
df.head()

,School Year,Sector,ULCS Code,School Name,Average Daily Attendance (YTD),Zip Code
0,2021-2022,District,5020,Thomas A. Edison High School,"68,85",NaN
1,2022-2023,District,5020,Thomas A. Edison High School,"72,64",19140.0
2,2021-2022,District,2000,South Philadelphia High School,"72,97",NaN
3,2021-2022,District,6060,Martin Luther King High School,"73,37",NaN
4,2021-2022,District,2010,Benjamin Franklin High School,"73,48",NaN

In [5]:
df['Average Daily Attendance (YTD)'] = df['Average Daily Attendance (YTD)'].str.replace(',', '.').astype(float)

In [6]:
df.head()

,School Year,Sector,ULCS Code,School Name,Average Daily Attendance (YTD),Zip Code
0,2021-2022,District,5020,Thomas A. Edison High School,68.85,NaN
1,2022-2023,District,5020,Thomas A. Edison High School,72.64,19140.0
2,2021-2022,District,2000,South Philadelphia High School,72.97,NaN
3,2021-2022,District,6060,Martin Luther King High School,73.37,NaN
4,2021-2022,District,2010,Benjamin Franklin High School,73.48,NaN

In [7]:
filtered_df = df[df['School Year'] == '2022-2023']
filtered_df.head()

,School Year,Sector,ULCS Code,School Name,Average Daily Attendance (YTD),Zip Code
1,2022-2023,District,5020,Thomas A. Edison High School,72.64,19140.0
11,2022-2023,District,4140,Strawberry Mansion High School,75.02,19121.0
14,2022-2023,District,5700,Kensington High School,75.40,19125.0
15,2022-2023,District,4020,Overbrook High School,76.18,19131.0
16,2022-2023,District,5520,Kensington High School for Creative and Perfor...,76.32,19122.0

In [8]:
print(filtered_df['Average Daily Attendance (YTD)'].dtype)

float64

In [9]:
average_by_zipcode = df.groupby('Zip Code')['Average Daily Attendance (YTD)'].mean()

In [10]:
print(average_by_zipcode)

Zip Code
19103.0    95.230000
19104.0    90.681429
19106.0    91.840000
19111.0    90.561667
19114.0    91.030000
19115.0    94.153333
19116.0    91.850000
19118.0    91.960000
19119.0    91.943333
19120.0    89.926364
19121.0    84.866000
19122.0    84.828571
19123.0    90.830000
19124.0    85.882500
19125.0    86.417143
19126.0    89.100000
19127.0    92.670000
19128.0    89.481667
19129.0    85.885000
19130.0    89.196667
19131.0    86.122000
19132.0    83.658000
19133.0    86.525000
19134.0    86.896250
19135.0    88.850000
19136.0    87.900000
19137.0    89.750000
19138.0    88.404000
19139.0    86.703000
19140.0    85.455455
19141.0    90.887143
19142.0    87.708000
19143.0    86.330000
19144.0    87.487500
19145.0    88.732500
19146.0    90.990000
19147.0    94.172857
19148.0    89.253750
19149.0    90.628000
19150.0    90.923333
19151.0    88.745000
19152.0    90.527500
19153.0    86.070000
19154.0    91.413333
Name: Average Daily Attendance (YTD), dtype: float64

In [11]:
sorted_average_by_zipcode = average_by_zipcode.sort_values()
sorted_average_by_zipcode

Zip Code
19132.0    83.658000
19122.0    84.828571
19121.0    84.866000
19140.0    85.455455
19124.0    85.882500
19129.0    85.885000
19153.0    86.070000
19131.0    86.122000
19143.0    86.330000
19125.0    86.417143
19133.0    86.525000
19139.0    86.703000
19134.0    86.896250
19144.0    87.487500
19142.0    87.708000
19136.0    87.900000
19138.0    88.404000
19145.0    88.732500
19151.0    88.745000
19135.0    88.850000
19126.0    89.100000
19130.0    89.196667
19148.0    89.253750
19128.0    89.481667
19137.0    89.750000
19120.0    89.926364
19152.0    90.527500
19111.0    90.561667
19149.0    90.628000
19104.0    90.681429
19123.0    90.830000
19141.0    90.887143
19150.0    90.923333
19146.0    90.990000
19114.0    91.030000
19154.0    91.413333
19106.0    91.840000
19116.0    91.850000
19119.0    91.943333
19118.0    91.960000
19127.0    92.670000
19115.0    94.153333
19147.0    94.172857
19103.0    95.230000
Name: Average Daily Attendance (YTD), dtype: float64

In [12]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/jupyter-user-6/.local/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /home/jupyter-user-6/.local/lib/python3.10/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/tljh/user/lib/python3.10/site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/tljh/user/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/jupyter-user-6/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 15.0 MB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [17]:
import seaborn as sns

pivot_table = sorted_average_by_zipcode.pivot(index='Zip Code', columns='School Year', values='Average Daily Attendance (YTD)')

plt.figure(figsize=(10, 8))
sns.heatmap(pivot_table, annot=True, fmt=".1f", cmap='coolwarm')
plt.title('Heatmap of Average Daily Attendance by Zip Code and School Year')
plt.show()

AttributeError: 'Series' object has no attribute 'pivot'

In [16]:
plt.figure(figsize=(10, 8))
plt.scatter(average_by_zipcode_year_df['Zip Code'], average_by_zipcode_year_df['Average Daily Attendance (YTD)'])
plt.title('Scatter Plot of Average Daily Attendance by Zip Code')
plt.xlabel('Zip Code')
plt.ylabel('Average Daily Attendance')
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = average_by_zipcode_year_df['Zip Code'].astype(str)  
y = average_by_zipcode_year_df['Average Daily Attendance (YTD)']

plt.figure(figsize=(12, 8))
plt.scatter(x, y, color='blue', label='Data points')


m, b = np.polyfit(x.astype(float), y, 1)  

plt.plot(x, m*x.astype(float) + b, color='red', label='Trend line')

plt.xlabel('Zip Code')
plt.ylabel('Average Daily Attendance')
plt.title('Scatter Plot with Linear Trend Line of Average Daily Attendance by Zip Code')
plt.xticks(rotation=90) 
plt.legend()
plt.grid(True)
plt.tight_layout() 
plt.show()